{layout '../@placeholder.latte'}

{block content}
	<h1>Přístup zamítnut</h1>
	<p>
		Pokusili jste se přistoupit na stránku, pro jejíž prohlížení nemáte oprávněno.
		Pokud věříte, že jde o chybu, kontakujte nás.
	</p>
	<p>Chyba 403</p>
{/block}