{layout '../@placeholder.latte'}

{block content}
	<h1>Stránka nenalezena</h1>
	<p>
		Tato stránka nebyla nalezena, zkontrolujte možné překlepy v adrese.
		Pokud vás problém trápí opakovaně, kontaktujte nás.
	</p>
	<p>Chyba 404</p>
{/block}