{layout '../@placeholder.latte'}

{block content}
	<h1>Nepovolená metoda</h1>
	<p>
		Tento způsob požadavku není pro toto URL podporován.
		Pokud věříte, že jde o chybu, kontaktujte nás.
	</p>
	<p>Chyba 405</p>
{/block}