{extends '../@frontend.latte'}
{var $pageTitle = 'Detail advokáta'}

{block content}
	{var $names = []}
	{foreach $advocate->advocateInfo as $advocateInfo}
		{var $names[] = \App\Utils\TemplateFilters::formatName($advocateInfo->name, $advocateInfo->surname,  $advocateInfo->degreeBefore, $advocateInfo->degreeAfter)}
	{/foreach}
	<h1>{$names[0]}</h1>
	<div class="row">
		<div class="col-md-12">
			<p>
				<b>IČ: {$advocate->registrationNumber}</b><br>
				<b>Registrační číslo: {$advocate->identificationNumber}</b><br>
				<a href="http://vyhledavac.cak.cz/Units/_Search/Details/detailAdvokat.aspx?id={$advocate->remoteIdentificator}">Záznam na stránkách České advokátní komory</a>
			</p>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Stav</th>
						<th>Jméno a příjmení</th>
						<th>Adresa</th>
						<th>E-mail</th>
						<th>Platnost<sup>*</sup></th>
					</tr>
				</thead>
				<tbody n:inner-foreach="$advocate->advocateInfo as $advocateInfo">
					<tr>
						<td>{ifset $advocateInfo->status}{App\Enums\AdvocateStatus::$statuses[$advocateInfo->status]}{/ifset}</td>
						<td>{\App\Utils\TemplateFilters::formatName($advocateInfo->name, $advocateInfo->surname,  $advocateInfo->degreeBefore, $advocateInfo->degreeAfter)}</td>
						<td>
							{$advocateInfo->street}<br>
							{$advocateInfo->city} {$advocateInfo->postalArea}
						</td>
						<td>
							{if isset($advocateInfo->email)}
								{foreach $advocateInfo->email as $email}
									{$email}
								{/foreach}
							{/if}
						</td>
						<td>{$advocateInfo->validFrom|date: 'j. n. Y'} &ndash; {if isset($advocateInfo->validTo)}{$advocateInfo->validTo|date:'j. n. Y'}{else}nyní{/if}</td>
					</tr>
				</tbody>
			</table>
			<p><sup>*</sup> Data jsou pouze orientační, určená podle data stažení nových dat.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2>Statistika</h2>
			<table class="table table-bordered table-nonfluid">
				<thead>
					<tr>
						<th>Výsledek</th>
						<th>Počet</th>
					</tr>
				</thead>
				<tbody n:inner-foreach="App\Enums\CaseResult::$statuses as $result => $name">
					<tr>
						{var $temp = new stdClass();}
						{var $temp->caseResult = $result}
						<td>
							{include ../case-result.latte, tagging => $temp}
						</td>
						<td>{$statistics[$result] ?? 0}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2>Přiřazené případy</h2>
			{if count($cases) == 0}
				<div class="alert alert-info">Nebyly nalezeny žádné přiřazené případy</div>
			{else}
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Soud</th>
							<th>Spisová značka</th>
							<th>Výsledek</th>
							<th>Akce</th>
						</tr>
					</thead>
					<tbody n:inner-foreach="$cases as $tagging">
						<tr>
							<td>{$tagging->case->court->name}</td>
							<td>{$tagging->case->registrySign|upper}</td>
							<td>
                                {include ../case-result.latte, tagging => $results[$tagging->case->id] ?? null}
							</td>
							<td>
								<a href="{plink Case:detail, $tagging->case->id, \Nette\Utils\Strings::webalize($tagging->case->registrySign)}">Detail</a>
							</td>
						</tr>
					</tbody>
				</table>
			{/if}

		</div>
	</div>
{/block}
