{* Layout for frontend *}
{extends '@empty.latte'}

{block body}
    <div class="container container-narrow">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" {ifCurrent Homepage:}class="active"{/ifCurrent}><a href="{plink Homepage:}">Úvod</a></li>
                    <li role="presentation" {ifCurrent Advocate:*}class="active"{/ifCurrent}><a href="{plink Advocate:search}">Advokáti</a></li>
                    <li role="presentation" {ifCurrent Case:*}class="active"{/ifCurrent}><a href="{plink Case:search}">Případy</a></li>
                    <li role="presentation" {ifCurrent About:project}class="active"{/ifCurrent}><a href="{plink About:project}">O projektu</a></li>
                    <li role="presentation" {ifCurrent About:contact}class="active"{/ifCurrent}><a href="{plink About:contact}">Kontakt</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Čeští advokáti.cz</h3>
        </div>

        {block container}
            <div class="row row-spaced">
                <div class="col-sm-12 col-md-12 main">
                    {include content}
                </div>
            </div>
        {/block}

        <footer class="footer">
            <p class="text-muted">DATOS &ndash; data o spravedlnosti, z.s., <a href="mailto:info@cestiadvokati.cz">info@cestiadvokati.cz</a>, <a href="https://github.com/datoszs">github.com/datoszs</a>.</p>
        </footer>
    </div>
{/block}