{* Layout for placeholder and error messages (pages) *}
{extends '@empty.latte'}

{block body}
	<div id="placeholder" class="center-block" role="main">
		<div id="content" class="container">
			{include content}
			<p class="text-muted">DATOS - data o spravedlnosti, z.s., <a href="mailto:info@cestiadvokati.cz">info@cestiadvokati.cz</a>.</p>
		</div>
	</div>
{/block}