{extends '../@placeholder.latte'}

{block content}
	<h1>Čeští advokáti.cz</h1>
	<p>
		Jak jsou advokáti precizní ve svých podáních? Kolik těchto podání je zamítnuto pro formální nedostatky?
		To je oč tu (po)běží.
	</p>
	<p>
		GitHub: <a href="https://github.com/datoszs">https://github.com/datoszs</a><br>
		Kontakt: <a href="mailto:info@cestiadvokati.cz">info@cestiadvokati.cz</a>
	</p>
{/block}
