log/*
temp/*
!temp/sessions/.keep
vendor/*
!.gitignore
!.htaccess
!web.config
app/Config/config.local.neon
node_modules
www/assets
www/frontend
www/robots.txt
!www/frontend/.keep
vendor
storage/documents/ns/*
!storage/documents/ns/.keep
storage/documents/nss/*
!storage/documents/nss/.keep
storage/documents/us/*
!storage/documents/us/.keep
storage/logs/*
storage/exports/*
!storage/exports/.keep
!storage/logs/job_run/.keep
*.deployment-in-progress
*.xml
*.iml
test.txt
npm-debug.log
externals/log_*
externals/*.txt
