log/*
temp/*
temp/sessions/*
!temp/sessions
vendor/*
!.gitignore
!.htaccess
!web.config
app/Config/config.local.neon
node_modules
www/assets
vendor
storage/documents/ns/*
!storage/documents/ns/.keep
storage/documents/nss/*
!storage/documents/nss/.keep
storage/documents/us/*
!storage/documents/us/.keep
*.deployment-in-progress
*.xml
*.iml
test.txt
dist
