.bar() {
    margin: 0 5px;
    border-style: solid solid none solid;
    border-width: 1px;

    .colored(@color) {
        background-color: fade(@color, 75%);
        border-color: @color;
        &:hover {
            background-color: fade(@color, 85%);
        }
        &.selected {
            background-color: @color;
        }
    }
    &.positive { .colored(@stats-positive); }
    &.negative { .colored(@stats-negative); }
    &.neutral { .colored(@stats-neutral); }
}
