@import "../../variables";

.main {
    dt {
        display: inline-block;
        margin-right: 3px;

        &:after {
            content: ':'
        }
    }

    dd {
        display: inline-block;
    }
}

.positive {
    color: @stats-positive;
}

.negative {
    color: @stats-negative;
}

.neutral {
    color: @stats-neutral;
}
