.detail-panel() {
    cursor: pointer;

    .title {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &:hover {
        border-color: @brand-primary;

        .title {
            color: @brand-primary;
        }
    }
}
