@import "../variables";

.column(@color) {
    margin: 1px;
    flex-basis: 100%;
    text-align: center;

    z-index: 1;
    position: relative;

    color: @color;
    .bar {
        border-color: lighten(@color, 25%);
        background-color: lighten(@color, 50%);
    }
}

.statistics() {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;

    .bar {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: -1;

        border: 1px solid;
        border-radius: 2px;
    }

    .positive {
        .column(@stats-positive-text);
    }

    .negative {
        .column(@stats-negative-text);
    }

    .neutral {
        .column(@stats-neutral-text);
    }
}
