{layout '../@admin.latte'}
{var $pageTitle = 'Pravidelné úlohy'}

{block content}
    <h1 class="page-header">Pravidelné úlohy</h1>

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="sorting" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Sorting:
            {if $order}Executed{else}ID{/if}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="sorting">
            <li><a href="{plink this, null}">ID</a></li>
            <li><a href="{plink this, 'executed'}">Executed</a></li>
        </ul>
    </div>

    {include ../flashes.latte}
    <table class="table table-responsive table-striped table-condensed table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Třída</th>
            <th>Popis</th>
            <th>Uživatel</th>
            <th>Poslední běh</th>
            <th>Běhy</th>
        </tr>
        </thead>
       {foreach $jobs as $jobEntity}
            <tr>
                <td><b>{$jobEntity->id}</b></td>
                <td>{$jobEntity->name}</td>
                <td>{$jobEntity->description}</td>
                <td><i>{$jobEntity->databaseUser->username}</i></td>
                <td>
                    {if count($jobEntity->runs) > 0}
                        {foreach $jobEntity->runs as $run}
                            {breakIf $iterator->counter > 1}
                            <span class="{if $run->returnCode === 0}text-success{else}text-danger{/if}">
                                {$run->executed|date: 'j. n. Y H:i'}
                            </span>
                        {/foreach}
                    {/if}
                </td>
                <td><a href="{link runs, $jobEntity->id}"><span class="glyphicon glyphicon-search"></span></a></td>
            </tr>
        {/foreach}
    </table>

{/block}
