{layout '../@admin.latte'}
{var $pageTitle = 'Běh úlohy ' . $run->job->name}

{block content}
    <h1 class="page-header">Běh úlohy {$run->job->name}</h1>

    <table class="table table-responsive table-striped table-condensed table-hover">
        <tr>
            <th>ID</th><td><b>{$run->id}</b></td>
        </tr>
        <tr>
            <th>Návratový kód</th><td class="{if $run->returnCode === 0}text-success{else}text-danger{/if}"><b>{$run->returnCode}</b></td>
        </tr>
        <tr>
            <th>Zpráva</th><td>{$run->message}</td>
        </tr>
        <tr>
            <th>Čas spuštění</th><td>{$run->executed|date: 'j. n. Y H:i'}</td>
        </tr>
        <tr>
            <th>Čas dokončení</th><td>{if !$run->finished}<span class="text-danger"><b>FAIL</b></span>{else}{$run->finished|date: 'j. n. Y H:i'}{/if}</td>
        </tr>
        <tr>
            <th>Doba běhu</th>
            <td>
                {if $run->finished}
                    {var $interval = $run->finished->diff($run->executed)}
                    {$interval->format('%h:%i:%s')}
                {/if}
            </td>
        </tr>
        <tr>
            <th>Celý výstup</th>
            <td>
                {if $hasLogFile}
                    <a href="{plink Job:log, $run->id}">Stáhnout</a>
                {else}
                    <i>viz níže</i>
                {/if}
            </td>
        </tr>
    </table>
    <h2>Výstup uložený v databázi</h2>
    {if $run->output === null}
        <pre><i>Neexistuje</i></pre>
    {elseif !$run->output}
        <pre><i>Prázdný</i></pre>
    {else}
        <pre>{$run->output}</pre>
    {/if}

{/block}
