#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days
	savePath: "%tempDir%/sessions"


services:
	# Utils
	router: App\Router\RouterFactory::createRouter
	- App\Utils\Authorizator
	# Services
	- App\Model\Services\UserService
	- App\Model\Services\JobService
	- App\Model\Services\CourtService
	- App\Model\Services\DocumentService
	- App\Model\Services\CauseService
	# Factories
	- App\Components\LoginForm\LoginFormFactory
	- App\Components\UserForm\UserFormFactory
	- App\Components\ProfileForm\ProfileFormFactory

extensions:
	dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
	orm: Nextras\Orm\Bridges\NetteDI\OrmExtension
	console: Kdyby\Console\DI\ConsoleExtension
	migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension

migrations:
	dir: %appDir%/../database/migrations
	driver: pgsql
	dbal: nextras

console:
	commands:
		- App\Commands\NSImport
		- App\Commands\NSCrawler
		- App\Commands\UserCreate

orm:
	model: App\Model\Orm
