#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
	logging:
		directory: '%appDir%/../log/auditing'
	mailing:
		mails:
			noreply: no-reply@example.com
			support: support@example.com
		templates: %appDir%/Mails
	google:
		captcha:
			secret:
	exports:
		directory: '%appDir%/../storage/exports/'


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days
	savePath: "%tempDir%/sessions"


decorator:
	App\APIModule\Presenters\DownloadExportPresenter:
		setup:
			- $exportsDirectory(%exports.directory%)

services:
	# Utils
	router: App\Router\RouterFactory::createRouter
	- App\Utils\Authorizator
	- App\Utils\MailService(%mailing%)
	- App\Utils\CaptchaVerificator(%google.captcha%)
	- App\Auditing\FileLogger(%logging.directory%)
	# Services
	- App\Model\Services\UserService
	- App\Model\Services\JobService
	- App\Model\Services\CourtService
	- App\Model\Services\DocumentService
	- App\Model\Services\CauseService
	- App\Model\Services\AdvocateService
	- App\Model\Services\TaggingService
	- App\Model\Services\DisputationService
	- App\Model\Services\StatisticsService
	- App\Model\Services\AnnulmentService
	# Factories
	- App\Components\LoginForm\LoginFormFactory
	- App\Components\UserForm\UserFormFactory
	- App\Components\ProfileForm\ProfileFormFactory

	# Tuning
	nette.latteFactory:
		setup:
			- addFilter(null,[App\Utils\TemplateFilters(),common])

apiDocu:
	apiDir: "%wwwDir%/api-doc"

extensions:
	apiRouter: Ublaboo\ApiRouter\DI\ApiRouterExtension
	apiDocu: Ublaboo\ApiDocu\DI\ApiDocuExtension
	dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
	orm: Nextras\Orm\Bridges\NetteDI\OrmExtension
	console: Kdyby\Console\DI\ConsoleExtension
	migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension
	visualPaginator: IPub\VisualPaginator\DI\VisualPaginatorExtension

migrations:
	dir: %appDir%/../database/migrations
	driver: pgsql
	dbal: nextras

console:
	commands:
		- App\Commands\UserCreate
		- App\Commands\NSCrawler
		- App\Commands\NSSCrawler
		- App\Commands\USCrawler
		- App\Commands\CAKCrawler
		- App\Commands\CausaImport
		- App\Commands\AdvocatesImport
		- App\Commands\OfficialDataImport
		- App\Commands\TagResults
		- App\Commands\NSResultTagger
		- App\Commands\CausaUnifier
		- App\Commands\TagAdvocates
		- App\Commands\NSAdvocateTagger
		- App\Commands\AdvocateScoreUpdate
		- App\Commands\CrawlerManual
		- App\Commands\SendBatchEmail
		- App\Commands\AnnuledCaseImport
		- App\Commands\DocumentFileRedownloader
		- App\Commands\GeocodeAdvocates


orm:
	model: App\Model\Orm
