parameters:


dbal:
	driver: pgsql
	host: localhost
	database: czech-lawyers
	username: postgres
	password:


tracy:
	bar:
		- Nextras\MailPanel\MailPanel(%tempDir%/mail-panel-latte)

services:
	nette.mailer:
		class: Nette\Mail\IMailer
		factory: Nextras\MailPanel\FileMailer(%tempDir%/mail-panel-mails)

# Use this part only when non-public access is needed
httpAuth:
	username: advocates
	password: password