{layout layouts/@single-column.latte}

{block body}
    <p>
        Zdravím,<br>
        prostřednictví webu byl odeslán e-mail s následujícím textem:
    </p>
    <pre>{$content}</pre>
    <p>&ndash; Web Čestiadvokáti.cz</p>
{/block}

{block unsubscribe}
    Tento e-mail jste obdrželi, protože někdo odeslal kontaktní formulář na webu Českých advokátů.
    <br><br>
{/block}