@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville&subset=latin,latin-ext);

body {
    font-family: 'Libre Baskerville', serif;
    background: #fcfcfc;
    font-size: 14pt;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
}

p {
    text-align: justify;
}

#placeholder {
    width: 480px;
    min-height: 90%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 90vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.form-signin {
    margin-top: 30px;
}