@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville&subset=latin,latin-ext);

body {
    font-family: 'Libre Baskerville', serif;
    background: #fcfcfc;
    font-size: 14pt;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
}

p {
    text-align: justify;
}

#placeholder {
    width: 480px;
    min-height: 90%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 90vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.form-signin {
    margin-top: 30px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.row-spaced {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}


.table-nonfluid {
    width: auto !important;
}