{extends '../@admin.latte'}
{var $pageTitle = 'Tagování případů'}

{block content}
	<h1>Tagování případů</h1>

	<form action="{plink this}" method="get" class="form-horizontal">
		<label for="registry_mark">Spisová značka: <input name="registryMark" value="{$registryMark}" class="form-control"></label>
		<label for="court">Soud:
			<select name="court" class="form-control">
				<option value="">Všechny</option>
				<option value="us" {if $court === App\Enums\Court::TYPE_US}selected="selected"{/if}>Ústavní soud</option>
				<option value="ns" {if $court === App\Enums\Court::TYPE_NS}selected="selected"{/if}>Nejvyšší soud</option>
				<option value="nss" {if $court === App\Enums\Court::TYPE_NSS}selected="selected"{/if}>Nejvyšší správní soud</option>
			</select>
		</label>
		<label>Stav výsledku:
			<select name="result" class="form-control">
				<option value="any" {if $result === 'any'}selected="selected"{/if}>Jakýkoliv</option>
				<option value="ok" {if $result === 'ok'}selected="selected"{/if}>V pořádku</option>
				<option value="failed" {if $result === 'failed'}selected="selected"{/if}>Selhalo</option>
				<option value="disputed" {if $result === 'disputed'}selected="selected"{/if}>Rozporováno</option>
			</select>
		</label>
		<label>Stav advokáta:
			<select name="advocate" class="form-control">
				<option value="any" {if $result === 'any'}selected="selected"{/if}>Jakýkoliv</option>
				<option value="ok" {if $advocate === 'ok'}selected="selected"{/if}>V pořádku</option>
				<option value="failed" {if $advocate === 'failed'}selected="selected"{/if}>Selhalo</option>
				<option value="disputed" {if $advocate === 'disputed'}selected="selected"{/if}>Rozporováno</option>
			</select>
		</label>
		<input type="submit" class="btn btn-default" value="Filtrovat">
	</form>

	<div class="clearfix"></div>

	{control visualPaginator}

	<p><i>Zobrazovány případy {$paginator->getOffset()+1}&ndash;{$paginator->getOffset()+$paginator->getItemsPerPage()} z {$paginator->getItemCount()} případů.</i></p>

	{if count($cases)}
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Soud</th>
					<th>Spisová značka</th>
					<th>Výsledek (+&nbsp;čas, stav)</th>
					<th>Advokát (+&nbsp;čas, stav)</th>
					<th>Rozporováno</th>
					<th>Akce</th>
				</tr>
			</thead>
			<tbody>
				{foreach $cases as $case}
					<tr>
						<td>{$case->court->name}</td>
						<td>{$case->registrySign|formatRegistryMark}</td>
						{var $resultTagging = $results[$case->id] ?? null}
						<td class="
							{if $resultTagging && $resultTagging->status == App\Enums\TaggingStatus::STATUS_FAILED}danger
							{elseif $resultTagging && $resultTagging->status == App\Enums\TaggingStatus::STATUS_IGNORED}active
							{elseif $resultTagging && $resultTagging->status == App\Enums\TaggingStatus::STATUS_PROCESSED}success
							{else}
							{/if}
							">
							{include ../case-result.latte, tagging => $resultTagging ?? null, meta => true}
						</td>
						{var $advocateTagging = $advocatesTaggings[$case->id] ?? null}
						<td class="
							{if $advocateTagging && $advocateTagging->status == App\Enums\TaggingStatus::STATUS_FAILED}danger
							{elseif $advocateTagging && $advocateTagging->status == App\Enums\TaggingStatus::STATUS_IGNORED}active
							{elseif $advocateTagging && $advocateTagging->status == App\Enums\TaggingStatus::STATUS_PROCESSED}success
							{else}
							{/if}
							">
							{var $advocateInfo = null}
							{if $advocateTagging && $advocateTagging->advocate}
								{foreach $advocateTagging->advocate->advocateInfo as $temp}
									{var $advocateInfo = $temp}
									{breakIf true}
								{/foreach}
							{/if}
							<span class="glyphicon glyphicon-info-sign pull-right" title="{$advocateTagging->debug}" n:if="$advocateTagging && $advocateTagging->debug"></span>
							<span n:if="$advocateTagging && $advocateTagging->isFinal" class="glyphicon glyphicon-ok-sign pull-right" title="Finální"></span>
							<a class="pull-right" target="_blank" title="Dokument na základě kterého proběhlo tagování" n:if="$advocateTagging && $advocateTagging->document" href="{plink Document:view, $advocateTagging->document->id}"><span class="glyphicon glyphicon-file"></span></a>
							{if !$advocateTagging}
								<span class="text-muted">&ndash;</span>
							{elseif !$advocateInfo}
								<span class="text-muted"><i>Nepřiřazen</i></span>
							{else}
								{var $name = \App\Utils\TemplateFilters::formatName($advocateInfo->name, $advocateInfo->surname,  $advocateInfo->degreeBefore, $advocateInfo->degreeAfter)}
								{$name}
							{/if}
							{if $advocateTagging}
								<br>
								<small><span class="glyphicon {if $advocateTagging->insertedBy->type == \App\Enums\UserType::TYPE_PERSON}glyphicon-user{else}glyphicon-cog{/if}"></span> {$advocateTagging->insertedBy->username}, {$advocateTagging->inserted|date:'j. m. Y H:i:s'}, {App\Enums\TaggingStatus::$statuses[$advocateTagging->status]|lower}</small>
							{/if}
						</td>
						<td class="{if isset($disputations[$case->id])}danger{else}success{/if}">
							{if isset($disputations[$case->id])}
								{$disputations[$case->id]}
							{else}
								0
							{/if}
						</td>
						<td>
							<a href="{plink Tagging:case, $case->id}">Detail</a>
						</td>
					</tr>
				{/foreach}
			</tbody>
		</table>
	{/if}
	{control visualPaginator}
{/block}
